@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap');

:root {
  font-family: 'Play', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: 'Play', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}


.play-font {
  font-family: 'Play', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

body {
  min-height: 100vh;
  background-color: transparent !important;
  overflow-x: hidden;
}

a {
  color: #0d6efd;
  text-decoration: inherit;
}
a:hover {
  color: #3485fd;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.text-success {
  color: #00d647 !important;
}

.opacity-35 {
  opacity: 0.35 !important;
}

.opacity-40 {
  opacity: 0.40 !important;
}

#password-tooltip {
  background-color: #222222 !important;
  border-radius: 6px;
  width: 234px;
  text-align: left;
  padding: 1px 1px;
  margin-top: 16px;
  margin-left: 8px;
}

#password-tooltip .tooltip-arrow::before {
  border-right-color: #222222 !important;
}

#password-tooltip .tooltip-inner {
  background-color: #222222 !important;
  min-width: 232px;
  padding: 8px 12px 4px 12px;
}

#password-tooltip ul {
  padding-left: 0px;
  margin: 8px 0;
}
#password-tooltip ul li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  color: #8b8b8b;
}
#password-tooltip ul li svg {
  height: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-label {
  color: #bbbbbb;
}

.form-control {
  border-radius: 6px;
  border: 1px solid #222222; /*#4a5568*/
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  width: 100%;
  background-color: #222222;
  color: #ffffff;
  height: 46px;
}
.form-control:focus {  
  background-color: #222222 !important;
  border-color: #23b29e !important;
  color: #fff !important;
  box-shadow: none !important;
}
.form-control::placeholder {
  color: #6d6d6d;
}
.form-control:disabled {
  background-color: #343a40;
  color: #6c757d;
  cursor: not-allowed;
}
.form-control:disabled:hover {
  border-color: #343a40;
  box-shadow: none;
}
.form-control:disabled:focus {
  box-shadow: none;
}

.btn {
  height: 46px;
  line-height: 44px;
  padding: 0px 16px;
  border: 0px;
}

.hub-btn-gamer {
  background: #0F6BF9;
  color: white !important;
  background: linear-gradient(135deg,rgba(15, 107, 249, 1) 0%, rgba(52, 241, 77, 1) 100%);
}

.hub-btn-gamer:hover {
  background: linear-gradient(135deg,rgba(15, 107, 249, 0.8) 0%, rgba(52, 241, 77, 0.8) 100%);
  box-shadow: none !important;
}

.gradient-text {
    background-image: linear-gradient(135deg,rgba(15, 107, 249, 1) 0%, rgba(52, 241, 77, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback for older browsers if -webkit-text-fill-color isn't supported */
}

/* custom checkbox */

.custom-form-check {
  padding: 0px;
  cursor: pointer;
}

.custom-form-check .form-check-input {
  width: 1.5em;
  height: 1.5em;
  border-radius: 6px;
  border-color: #696969;
  cursor: pointer;
  margin: 0px 8px 0px 0px;
  background-color: #222222;
}

.custom-form-check .form-check-input:checked {
  background-color: #147de2;
  border-color: #147de2;
}

.custom-form-check .form-check-input:focus {
  box-shadow: none;
}

.custom-form-check .form-check-label {
  color: #ffffff;
  cursor: pointer;
}

.link-redirect:hover {
  color: #147de2 !important;
}

.nav-tabs {
  border-bottom: 1px solid #333333;
  margin-bottom: 1rem;  
}


.nav-tabs .nav-link {
  color: #ccc;
    border: none;
    border-bottom: 0px solid transparent;
    font-weight: 500;
    border-radius: 0px !important;
    background-color: transparent !important;
    border: 1px solid #63636300 !important;
    padding: 16px 16px !important;
}

  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link[aria-selected="true"] {    
    background-color: #424649 !important;
    border: 1px solid #636363 !important;
  }

.nav-tabs .nav-link.active {
  color: #32e956 !important;
  background-color: #212121 !important;
  background: #0F6BF9;
  color: white !important;
  background: linear-gradient(135deg,rgba(15, 107, 249, 1) 0%, rgba(52, 241, 77, 1) 100%);
  border: 1px solid #21aba6 !important;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #000000;
  }
  a:hover {
    color: #ff0000;
  }
  button {
    background-color: #f9f9f9;
  }
}
